{% extends "layouts/base.html" %}

{% block title %} factura {% endblock %}
{% block stylesheets %}
<!-- bootstrap-tagsinput-latest css -->
<link rel="stylesheet" href="/static/assets/plugins/bootstrap-tagsinput-latest/css/bootstrap-tagsinput.css">

<!-- animation css -->
<link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- footable css -->
<link rel="stylesheet" href="/static/assets/plugins/footable/css/footable.bootstrap.min.css">
<link rel="stylesheet" href="/static/assets/plugins/footable/css/footable.standalone.min.css">
<link rel="stylesheet" href="/static/assets/css/factura.css">

{% endblock stylesheets %}

{% block content %}

<form action="" method="post" name="selection">
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank" href="http://www.molorramo.com/"
               class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Molorramo</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item pcoded-hasmenu active ">
                    <a href="#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-home"></i></span><span class="pcoded-mtext">Sección</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/" class="">Encimeras</a></li>
                        <li class=""><a href="/inventario" class="">Inventario</a></li>
                        <li class=""><a href="/suplementos" class="">Suplementos</a></li>
                        <li class=""><a href="/revestimiento" class="">Revestimiento</a></li>
                        <li class="active"><a href="/factura" class="">Mi pedido</a></li>
                    </ul>
                </li>
            </ul>
            <div class="col-xl-12">
                {{ form.hidden_tag() }}
                <br>
                <label class="pcoded-menu-caption">P.V.P.</label>
                {{form.pvp( class="form-control mb-3", onchange="submit()")}}
                <br><br>
<button type="submit" name="confirmar" class="btn btn-primary shadow-2 mb-4">Confirmar pedido</button>
            </div>
        </div>
    </div>
</nav>
<section class="pcoded-main-container" id="print_this">
    <div id="container">
        <table class="top" width="100%" style="margin: 0px;">
            <tr class="row">
                <td>
                    <section id="invoice-title-number">
                        <span id="title">Molorramo</span>
                        <div class="clearfix"></div>
                        <div class="separator"></div>
                        <span id="number"> ID: {{id_factura}}</span>
                        <span class="hidden">{issue_date_label}</span>
                        <span class="issue-date">{{today}}</span>
                        <div class="line"></div>
                    </section>
                    <section id="invoice-info">
                        <div class="invoice-info-table">
                            <div>
                                <span>Fecha de medida</span>
                                <br>
                                <span>{{today}}</span>
                            </div>
                            <span></span>
                            <div>
                                <span>Fecha de montaje</span>
                                <br>
                                <span>{{today}}</span>
                            </div>
                            <span></span>
                            <div>
                                <span>Otra cosa</span>
                                <br>
                                <span>Algo mas </span>
                            </div>
                        </div>
                    </section>
                </td>
                <td>
                    <div class="company-info">
                        <span>Emisor:</span>
                        <div>{{Molorramo.name}}</div>
                        <div>{{Molorramo.address}}</div>
                        <div>{{Molorramo.tlfno}}</div>
                        <div>{{Molorramo.mail}}</div>
                    </div>
                    <br>
                    <div class="company-info">
                        <span>Receptor:</span>
                        <div>{{Cliente.name}}</div>
                        <div>{{Cliente.address}}</div>
                        <div>{{Cliente.tlfno}}</div>
                        <div>{{Cliente.mail}}</div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="clearfix"></div>
        <ul>
            <li>Las piezas seleccionadas serán reservadas por un plazo de 30 días. Despues de dicho periodo, la reserva
                se cancelara.
            </li>
        </ul>
        <br><br>
        {% if encimeras.size > 0 %}
        <div class="main-body">
            <h6>Encimeras</h6>
            <hr>
            <div class="table-responsive">
                {{ view_html_table(encimeras, clase = "table table-striped ",id="encimera" )|safe }}
            </div>
        </div>
        <br>
        {% endif %}
        {% if inventario.size > 0 %}
        <div class="main-body">
            <h6>Inventario</h6>
            <hr>
            <div class="table-responsive">
                {{ view_html_table(inventario, clase = "table table-striped ",id="inventario" )|safe }}
            </div>
        </div>
        <br>
        {% endif %}
        {% if suplementos.size > 0 %}
        <div class="main-body">
            <h6>Suplementos</h6>
            <hr>
            <div class="table-responsive">
                {{ view_html_table(suplementos, clase = "table table-striped ",id="suplementos" )|safe }}
            </div>
        </div>
        <br>
        {% endif %}
        <section id="sums">
            <table cellpadding="0" cellspacing="0">
                <tr class="amount-total">
                    <th>Total:</th>
                    <td>{{total}}</td>
                    <td></td>
                </tr>
                <!-- You can use attribute data-hide-on-quote="true" to hide specific information on quotes.
                     For example Invoicebus doesn't need amount paid and amount due on quotes  -->
                <tr data-hide-on-quote="true">
                    <th>Pagado:</th>
                    <td>{{pagado}}</td>
                    <td></td>
                </tr>
                <tr data-hide-on-quote="true">
                    <th>Falta por pagar:</th>
                    <td>{{a_pagar}}</td>
                    <td></td>
                </tr>
            </table>
        </section>
        <br>
    </div>
</section>
      <div class="row text-center">
                                            <div class="col-sm-12 invoice-btn-group text-center">
                                                <button type="button" class="btn btn-primary btn-print-invoice m-b-10">Imprimir</button>
                                            </div>
                                        </div>
</form>
{% endblock content %}

{% block javascripts %}

<!-- print this -->
<script src="/static/assets/js/printThis.js"></script>
<!-- form-advance custom js -->
<script src="/static/assets/js/pages/form-advance-custom.js"></script>
<!-- footable Js -->
<script src="/static/assets/plugins/footable/js/footable.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            // [ Foo-table ]
            $('#encimera').footable({

                "data-paging-size":30,
                "paging": {
                    "enabled": false
                },
                "sorting": {
                    "enabled": true
                }
            });
            $('#inventario').footable({

                "data-paging-size":30,
                "paging": {
                    "enabled": false
                },
                "sorting": {
                    "enabled": true
                }
            });

            $('#suplementos').footable({

                "data-paging-size":30,
                "paging": {
                    "enabled": false
                },
                "sorting": {
                    "enabled": true
                }
            });
        });


</script>

 <script>
    // print button

        $('.btn-print-invoice').on('click', function() {
            $('#container').printThis();
        })

    </script>

{% endblock javascripts %}


{% block sidebar %}

<!-- Start SIDEBAR -->

{% endblock sidebar %}

