{% extends "layouts/base.html" %}

{% block title %} Invoice list {% endblock %} 

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

{% endblock stylesheets %}

{% block content %}

    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" href="http://www.molorramo.com/"
                   class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Molorramo</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item pcoded-hasmenu active ">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Sección</span></a>
                        <ul class="pcoded-submenu">
                            <li class="active"><a href="/" class="">Encimeras</a></li>
                            <li class=""><a href="/inventario" class="">Inventario</a></li>
                            <li class=""><a href="/suplementos" class="">Suplementos</a></li>
                            <li class=""><a href="/revestimiento" class="">Revestimiento</a></li>
                            <li class=""><a href="/factura" class="">Mi pedido</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Invoice List</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
 <!-- [ Invoice-list ] start -->

                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="card card-border-c-blue">
                                                <div class="card-block">
                                                    <div class="mb-3">
                                                        <h5 class="d-inline-block m-b-10">John Doe</h5>
                                                        <div class="dropdown-secondary dropdown float-right">
                                                            <span>Status : </span>
                                                            <button class="btn btn-primary btn dropdown-toggle  " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
                                                            <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                <a class="dropdown-item  " href="#!">Pending</a>
                                                                <a class="dropdown-item  " href="#!">Paid</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item   active" href="#!">On Hold</a>
                                                                <a class="dropdown-item  " href="#!">Canceled</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled">
                                                                <li>Invoice #: &nbsp;0028</li>
                                                                <li>Issued on: <span class="text-semibold">2015/01/25</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled text-right">
                                                                <li>$8,750</li>
                                                                <li>Method: <span class="text-semibold">SWIFT</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="m-t-30">
                                                        <div class="task-list-table">
                                                            <p class="task-due"><strong> Due : </strong><strong class="label label-primary">23 hours</strong></p>
                                                        </div>
                                                        <div class="task-board m-0 float-right">
                                                            <a href="invoice.html" class="btn btn-primary"><i class="fas fa-eye m-0"></i></a>
                                                            <div class="dropdown-secondary dropdown d-inline">
                                                                <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                                                                <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-bell"></i> Print Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-download"></i> Download invoice</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-edit"></i> Edit Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-trash"></i> Remove Invoice</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="card card-border-c-green">
                                                <div class="card-block">
                                                    <div class="mb-3">
                                                        <h5 class="d-inline-block m-b-10">John Doe</h5>
                                                        <div class="dropdown-secondary dropdown float-right">
                                                            <span>Status : </span>
                                                            <button class="btn btn-success btn dropdown-toggle  " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
                                                            <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                <a class="dropdown-item  " href="#!">Pending</a>
                                                                <a class="dropdown-item  " href="#!">Paid</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item   active" href="#!">On Hold</a>
                                                                <a class="dropdown-item  " href="#!">Canceled</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled">
                                                                <li>Invoice #: &nbsp;0028</li>
                                                                <li>Issued on: <span class="text-semibold">2015/01/25</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled text-right">
                                                                <li>$8,750</li>
                                                                <li>Method: <span class="text-semibold">Payoneer</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="m-t-30">
                                                        <div class="task-list-table">
                                                            <p class="task-due"><strong> Due : </strong><strong class="label label-success">23 hours</strong></p>
                                                        </div>
                                                        <div class="task-board m-0 float-right">
                                                            <a href="invoice.html" class="btn btn-success"><i class="fas fa-eye m-0"></i></a>
                                                            <div class="dropdown-secondary dropdown d-inline">
                                                                <button class="btn btn-success dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                                                                <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-bell"></i> Print Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-download"></i> Download invoice</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-edit"></i> Edit Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-trash"></i> Remove Invoice</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="card card-border-c-red">
                                                <div class="card-block">
                                                    <div class="mb-3">
                                                        <h5 class="d-inline-block m-b-10">John Doe</h5>
                                                        <div class="dropdown-secondary dropdown float-right">
                                                            <span>Status : </span>
                                                            <button class="btn btn-danger btn dropdown-toggle  " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
                                                            <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                <a class="dropdown-item  " href="#!">Pending</a>
                                                                <a class="dropdown-item  " href="#!">Paid</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item   active" href="#!">On Hold</a>
                                                                <a class="dropdown-item  " href="#!">Canceled</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled">
                                                                <li>Invoice #: &nbsp;0028</li>
                                                                <li>Issued on: <span class="text-semibold">2015/01/25</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled text-right">
                                                                <li>$8,750</li>
                                                                <li>Method: <span class="text-semibold">Paypal</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="m-t-30">
                                                        <div class="task-list-table">
                                                            <p class="task-due"><strong> Due : </strong><strong class="label label-danger">23 hours</strong></p>
                                                        </div>
                                                        <div class="task-board m-0 float-right">
                                                            <a href="invoice.html" class="btn btn-danger"><i class="fas fa-eye m-0"></i></a>
                                                            <div class="dropdown-secondary dropdown d-inline">
                                                                <button class="btn btn-danger dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                                                                <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-bell"></i> Print Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-download"></i> Download invoice</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-edit"></i> Edit Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-trash"></i> Remove Invoice</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="card card-border-c-yellow">
                                                <div class="card-block">
                                                    <div class="mb-3">
                                                        <h5 class="d-inline-block m-b-10">John Doe</h5>
                                                        <div class="dropdown-secondary dropdown float-right">
                                                            <span>Status : </span>
                                                            <button class="btn btn-warning btn dropdown-toggle  " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
                                                            <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                <a class="dropdown-item  " href="#!">Pending</a>
                                                                <a class="dropdown-item  " href="#!">Paid</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item   active" href="#!">On Hold</a>
                                                                <a class="dropdown-item  " href="#!">Canceled</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled">
                                                                <li>Invoice #: &nbsp;0028</li>
                                                                <li>Issued on: <span class="text-semibold">2015/01/25</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled text-right">
                                                                <li>$8,750</li>
                                                                <li>Method: <span class="text-semibold">Paypal</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="m-t-30">
                                                        <div class="task-list-table">
                                                            <p class="task-due"><strong> Due : </strong><strong class="label label-warning">23 hours</strong></p>
                                                        </div>
                                                        <div class="task-board m-0 float-right">
                                                            <a href="invoice.html" class="btn btn-warning"><i class="fas fa-eye m-0"></i></a>
                                                            <div class="dropdown-secondary dropdown d-inline">
                                                                <button class="btn btn-warning dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                                                                <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-bell"></i> Print Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-download"></i> Download invoice</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-edit"></i> Edit Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-trash"></i> Remove Invoice</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="card card-border-c-green">
                                                <div class="card-block">
                                                    <div class="mb-3">
                                                        <h5 class="d-inline-block m-b-10">John Doe</h5>
                                                        <div class="dropdown-secondary dropdown float-right">
                                                            <span>Status : </span>
                                                            <button class="btn btn-success btn dropdown-toggle  " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
                                                            <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                <a class="dropdown-item  " href="#!">Pending</a>
                                                                <a class="dropdown-item  " href="#!">Paid</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item   active" href="#!">On Hold</a>
                                                                <a class="dropdown-item  " href="#!">Canceled</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled">
                                                                <li>Invoice #: &nbsp;0028</li>
                                                                <li>Issued on: <span class="text-semibold">2015/01/25</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled text-right">
                                                                <li>$8,750</li>
                                                                <li>Method: <span class="text-semibold">Payoneer</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="m-t-30">
                                                        <div class="task-list-table">
                                                            <p class="task-due"><strong> Due : </strong><strong class="label label-success">23 hours</strong></p>
                                                        </div>
                                                        <div class="task-board m-0 float-right">
                                                            <a href="invoice.html" class="btn btn-success"><i class="fas fa-eye m-0"></i></a>
                                                            <div class="dropdown-secondary dropdown d-inline">
                                                                <button class="btn btn-success dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                                                                <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-bell"></i> Print Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-download"></i> Download invoice</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-edit"></i> Edit Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-trash"></i> Remove Invoice</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                        <div class="card card-border-c-blue">
                                                <div class="card-block">
                                                    <div class="mb-3">
                                                        <h5 class="d-inline-block m-b-10">John Doe</h5>
                                                        <div class="dropdown-secondary dropdown float-right">
                                                            <span>Status : </span>
                                                            <button class="btn btn-primary btn dropdown-toggle  " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
                                                            <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                <a class="dropdown-item  " href="#!">Pending</a>
                                                                <a class="dropdown-item  " href="#!">Paid</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item   active" href="#!">On Hold</a>
                                                                <a class="dropdown-item  " href="#!">Canceled</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled">
                                                                <li>Invoice #: &nbsp;0028</li>
                                                                <li>Issued on: <span class="text-semibold">2015/01/25</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <ul class="list list-unstyled text-right">
                                                                <li>$8,750</li>
                                                                <li>Method: <span class="text-semibold">SWIFT</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="m-t-30">
                                                        <div class="task-list-table">
                                                            <p class="task-due"><strong> Due : </strong><strong class="label label-primary">23 hours</strong></p>
                                                        </div>
                                                        <div class="task-board m-0 float-right">
                                                            <a href="invoice.html" class="btn btn-primary"><i class="fas fa-eye m-0"></i></a>
                                                            <div class="dropdown-secondary dropdown d-inline">
                                                                <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                                                                <div class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-bell"></i> Print Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-download"></i> Download invoice</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-edit"></i> Edit Invoice</a>
                                                                    <a class="dropdown-item  " href="#!"><i class="fas fa-trash"></i> Remove Invoice</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <!-- [ Invoice-list ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

    <!-- invoice-list js -->
    <script src="/static/assets/js/pages/invoice-list.js"></script>

{% endblock javascripts %}
