{% extends "layouts/base.html" %}


{% block title %} UI pruebas {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">

                       <!-- ruta
                        <div class="page-header-title">
                            <h5 class="m-b-10">Form Elements</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                        </ul>
                   -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
     <h5>Encimeras</h5>
                            </div>
                            <div class="card-body">

                                <!-- Start Forms metros -->
                                <div class="row">
                                    <div class="col-md-4">
                                   <label for="lineales">Metros Lineales</label>
                                    <div class="input-group mb-3">
                                    <input id= "lineales" type="number"  step=".01" min="0" class="form-control" aria-label="Amount (to the nearest dollar)">
                                  </div>
                                </div>
                                    <div class="col-md-4">
                                   <label for="cuadrados">Metros Cuadrados</label>
                                    <div class="input-group mb-3">
                                    <input id= "cuadrados" type="number"  step=".01" min="0" class="form-control" aria-label="Amount (to the nearest dollar)">
                                  </div>
                                </div>
                                    <div class="col-md-4">
                                   <label for="frente">Metros de Frente</label>
                                    <div class="input-group mb-3">
                                    <input id= "frente" type="number"  step=".01" min="0" class="form-control" aria-label="Amount (to the nearest dollar)">
                                  </div>
                                </div>
                                </div>
                                <!-- End Forms metros -->

                                 <!-- [ Hover-table ] start -->


                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    {{ view_html_table(table)|safe }}
                                </div>

                        </div>
                    </div>

                    <!-- [ Hover-table ] end -->


                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Datatable JS -->
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.slim.js"></script>

<!-- Datatable JS -->
	<script >
		$(document).ready(function() {
    $('#myTable').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
	</script>


    {% endblock javascripts %}


    {% block sidebar %}

    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" href="http://www.molorramo.com/" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Molorramo</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                   <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Sección</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/index" class="">Encimeras</a></li>
                            <li class=""><a href="/banyos" class="">Baños</a></li>
                            <li class=""><a href="/ui-breadcrumb-pagination.html" class="">Suplementos</a></li>
                            <li class=""><a href="/ui-collapse.html" class="">Presupuestos</a></li>
                        </ul>
                    </li>
                </ul>
                <li class="nav-item p-l-10">

                    <form>
                        <div class="form-group">
                            <label for="material">Material</label>
                           <select id="material" class="js-example-basic-hide-search col-sm-12" multiple="multiple" style="width: 75%">
                                                        <optgroup label="Developer">
                                                            <option value="AL">Smith</option>
                                                            <option value="WY">Peter</option>
                                                            <option value="WY">James</option>
                                                            <option value="WY">Hanry Die</option>
                                                            <option value="WY">John Doe</option>
                                                            <option value="WY">Harry Poter</option>
                                                        </optgroup>
                                                    </select>
                        </div>
                    </form>

                </li>
                <li class="nav-item p-l-10">

                    <form>
                        <div class="form-group">
                            <label for="color">Color</label>
                            <select class="form-control" id="color">
                                {% for color in table["COLOR"].unique() %}
                                <option>{{color}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>

                </li>
                <li class="nav-item p-l-10">

                    <form>
                        <div class="form-group">
                            <label for="acabado">Acabado</label>
                            <select class="form-control" id="acabado">
                                {% for acabado in table["ACABADO"].unique() %}
                                <option>{{acabado}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>

                </li>
                <li class="nav-item p-l-10">

                    <form>
                        <div class="form-group">
                            <label for="grosor">Grosor</label>
                            <select class="form-control" id="grosor">
                                {% for grosor in table["GROSOR"].unique() %}
                                <option>{{grosor}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>

                </li>
            </div>
        </div>
    </nav>
    {% endblock sidebar %}