




{% extends "layouts/base-fullscreen.html" %}

{% block title %} Signin {% endblock %}

{% block stylesheets %}

<!-- Specific CSS goes HERE -->

{% endblock stylesheets %}

{% block content %}

<div class="auth-wrapper aut-bg-img-side cotainer-fiuid align-items-stretch">
    <div class="row align-items-center w-100 align-items-stretch bg-white">
        <div class="d-none d-lg-flex col-lg-8 aut-bg-img align-items-center d-flex justify-content-center">
            <div class="col-md-8">
                <h1 class="text-white mb-4">Innovación en encimeras</h1>
                <p class="text-white"></p>
            </div>
        </div>
        <div class="col-lg-4 align-items-stret h-100 align-items-center d-flex justify-content-center">
            <div class=" auth-content text-center">
                <div class="mb-4">
                    <i class="feather icon-unlock auth-icon"></i>
                </div>
                <h3 class="mb-4">Login</h3>
               <form role="form" method="post" action="">
                   {% if msg %}
                            {{ msg | safe }}
                        {% endif %}

                        {{ form.hidden_tag() }}

                        <div class="input-group mb-3">
                            {{ form.email(placeholder="Email", class="form-control") }}
                        </div>

                        <div class="input-group mb-4">
                            {{ form.password(placeholder="Contraseña", class="form-control", type="password") }}
                        </div>
                        <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Entrar</button>
                    </form>
                <p class="mb-2 text-muted"> <a href="{{ url_for('base_blueprint.reset_password') }}">Cambiar contraseña</a></p>
                <p class="mb-2 text-muted"> <a href="{{ url_for('base_blueprint.reset_password') }}">Recuperar contraseña</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<!-- Specific Page JS goes HERE  -->

{% endblock javascripts %}

